
extends layout

block content
    form(method='post' action='/users/signup')
        div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
        div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
        div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password2' placeholder='repeat password' name='password2')
        button.btn.btn-primary(type='submit') Sign up
